@charset "utf-8";

.section:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
    font-size: 0.1em;
    line-height: 0;
}

.header-section li::after {
    content: "/";
    position: absolute;
    right: -2px;
}